.Treinos {
  background: linear-gradient(to bottom, #00274D, #005BB3);
  height: 100vh; // Certifique-se de que o corpo ocupe a altura total da janela
  margin: 0; // Remove margens padrão do body
  
  .titulo{
    color: #F2F2F2;
  }
}