.words{ 
    
    .word{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
        align-items: center;
        position: relative;
        p{
            padding: 1em;
            background-color: #FCF8D1;
            font-size: 1.5em;
            box-shadow: 2px 2px 8px black;
        }

        #um, #dois{
            width: 8em;
        }
        #tres{
            width: 18em;
        }

        #doisponto{
            font-size: 2em;
            color: #fff;
        }

        #icon{
            font-size: 2em;
            color: #fff;
        }

        .icones{
            position: absolute;
            right: -2em;
            
        }

        .change{
            position: absolute;
            bottom: 2em;
            left: 1em;
            display: flex;
            flex-direction: row;
            gap: 1em;
        }
    }
}